@charset "utf-8";
@import url("chanpin.css");
/* CSS 【通用类】*/
*{ margin:0; border:0; padding:0;}

/*[核心框架]*/

/*控制导航栏上边蓝色div的*/
#ty-dh{
	position: relative;
	top:0;
	left:0;
	margin:0;
	height:13px; 
	width:100%;
	background-color:#0CF; 
	float:left; 
	list-style-type: none; 
	}
#ty-dh li{
	float:left; 
	margin-left:40px;
	}
/*控制导航菜单*/
#log-dh{
	height:55px;
	width:100%;
	padding-left:30px;
	float: right;
	position: relative;
	top:13px;
	background:rgba(255,255,255,0);/*透明渐变*/
	/*box-shadow:0px 1px 1px #FFF;*/
	z-index:88;
	}
#log{
	margin-left:8%;
	height:45px;
	width:230px;
	float:left;
	background-color:#FFF;
	background: url(../image/loginC.png) no-repeat;
	position:absolute;
	top:5px;
	z-index:88;
	}
#dhnr{
	position: absolute;
	top: 10px;
	height: 38px;
	width: 461px;
	left:54%;
	float: left;
	margin-top: 0px;
	padding-top: 15px;
	font-size: 12px;
	cursor: pointer;
	}
#dhnr li:hover{
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s cubic-bezier(0.4, 0, 1, 1);
	}
#dhnr li{
	float:left;
	list-style-type: none;
	margin-left:30px;
	}


#bottonDiv{
	position: relative;
	bottom:0;
	height:17px;
	width:100%;
	background-color:#000;
	left:0;
	}
.txtcolor{
	color:#FFF;
	font-size:9px;
	}
